!!!
html
  head
    title= "Librarian Research"
    script(src='/jquery.js') 
    script(type='text/javascript').
     var username="#{username}";
    script(src='/biblosofo.js')
    script(src='/socket.io/socket.io.js')
    link(href="/librarian.css",rel="stylesheet")
  body
    #content(style='float:left;')
    #window-container(style="float:left;")
